$white: #ffffff;
$black: #000000;
$Nero: #222222;
$Matterhorn: #505050;
$PinkSwan: #B6B6B6;
$Nero1: #1C1C1C;
$SuvaGrey: #909090;
$BlueViolet: #7323F6;
$FrenchRose: #FC4C8A;
$Charcoal: #444444;
$Nero2: #1E1E1E;


// FONT_FAMIY
$font_Poppins_sans_serif: "Poppins", sans-serif;
$font_SF_Pro_Display: "SF Pro Display";